<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8" />
	<title>Uber</title>
	<style>
		header{
			text-align: center;
			font-size: 188px;
			color: white;
			border: 0px solid white;
			background: black;
			opacity: 0.6;
	}
		body{
			background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT5Rtn_YlXHisoIbwlqUZnG60-VaS8dW1wQxSPDI-lRC713118LUA");
			background-size: cover;
		}
		p {
			color: black;
			font-size: 60px;
			text-align: center;
		}
		#one {
			max-width: 100%;
			position: absolute;
			top: 80%;
			right: 40%;
			left: 25%;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		#two {
			max-width: 100%;
			position: absolute;
			top: 80%;
			left: 70%;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}

		* {
			box-sizing: border-box;
		}

		button {
			-webkit-user-select: none;
			/* Chrome/Safari */
			-moz-user-select: none;
			/* Firefox */
			-ms-user-select: none;
			/* IE10+ */
			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;
			outline: none;
			font-family: "Changa One", cursive;
			font-size: 2.4em;
			color: #3e333a;
			text-shadow: rgba(255, 255, 255, 0.35) 0 1px 0;
			position: relative;
			padding: 1em 2em;
			margin: 0 auto 3rem;
			border-radius: 0.5em;
			background: ;
			border-top: 0px solid white;
			border-right: 0px solid white;
			border-left: 0px solid white;
			border-bottom: 1px solid #9edcca;
			top: 0;
		}
		button, button * {
			box-sizing: border-box;
		}
		button, button:after {
			-webkit-transition: color 100ms ease-out, top 100ms ease-out, background-color 100ms ease-in, text-shadow 100ms ease-in, box-shadow 100ms ease-in;
			transition: color 100ms ease-out, top 100ms ease-out, background-color 100ms ease-in, text-shadow 100ms ease-in, box-shadow 100ms ease-in;
		}
		button:after {
			display: block;
			content: '';
			position: absolute;
			top: 1rem;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			will-change: top background-color;
			border-radius: 0.5em;
			background: #1FBAD6;
			border-left: 1px solid #65c8ab;
			border-bottom: 3px solid #205b49;
			border-right: 1px solid #276e58;
			box-shadow: rgba(0, 0, 0, 0.55) 0px 0.25rem 10px;
		}
		button:active {
			color: #3b3137;
			background: #3eae8c;
			top: 0.5rem;
			text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0;
		}
		button:active:after {
			top: 0.5rem;
			background: #318a6f;
			box-shadow: rgba(0, 0, 0, 0.55) 0px 0.125rem 10px;
		}
	</style>
</head>
<body>
	<header><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS0CX2yoTQCCvy6WQAwfbeFllunzakbNHqw77XHmA6_JUF4_ERo_g"/></header>
	<p>Welcome to Uber Help Platform</p>
	<button id="one" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Are you a driver and you have a problem?</button>
	<button id="two" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">You want to be an uber driver?</button>

	{{{body}}}

</body>
</html>