<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body{

	background-color: #007071;
	padding: 5px;
}
h1{
	color: white;
}
li{
	border-radius: 10px;
}
header{
			text-align: center;
			font-size: 40px;
			color: white;
			border: 0px solid white;
			background: black;
			opacity: 0.6;
	}
</style>
</head>

<body>
	<header>
<h1>GUIDELINES TO SOLVE A PROBLEM</h1>
</header>
<ul>
<li>Location Information: When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system,we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</li></br>
<li>Contacts Information: If you permit the Uber app to access the address book on your device through the permission system used by your mobile platform, we may access and store names and contact information from your address book to facilitate social interactions through our Services and for other purposes described in this Statement or at the time of consent or collection.</li></br>
<li>Transaction Information: We collect transaction details related to your use of our Services, including the type of service requested, date and time the service was provided, amount charged, distance traveled, and other related transaction details. Additionally, if someone uses your promo code, we may associate your name with that person.</li></br>
<li>Call and SMS Data : Our Services facilitate communications between Users and Drivers. In connection with facilitating this service, we receive call data, including the date and time of the call or SMS message,phone numbers, and the content of the SMS message.</li></br>
<li>Log Information: When you interact with the Services, we collect server logs, which may include information like device IP address, access dates and times, app features or pages viewed, app crashes and other system activity, type of browser, and the third-party site or service you were using before interacting with our Services.</li>
</ul>
</body>
</html>
