<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>Uber</title>
  </head>

  <body>
    <h1> What is your problem?</h1>
    <form>
      <input type="checkbox" value="male" checked> Male
      <br>
      <input type="checkbox" value="female"> Female
      <br>
      <input type="checkbox" value="female"> HeShe
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
