<div>
	<p style="background-color: black; color:#1FBAD6; height:200px; width: auto; border: 2px solid white; border-radius:30px; font-size:30px; padding:20px; margin:30px;"><strong>"Uber would like to thank you for using their services, hoping that you enjoyed using our App. If you need more information about us feel free to contact our friendly agents!!!"</strong></p>
</div>